<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<body>
<h1>회원가입 페이지</h1>
<hr/>
<form action="/join" method="post">
    <input type="text" name="username"placeholder="Username"/><br/>
    <input type="password" name="password"placeholder="Password"/><br/>
    <input type="email" name="email"placeholder="Email"/><br/>
    <input type="preferred1st" name="preferred1st"placeholder="Preferred1st"/><br/>
    <input type="preferred2nd" name="preferred2nd"placeholder="Preferred2nd"/><br/>
    <input type="preferred3rd" name="preferred3rd"placeholder="Preferred3rd"/><br/>
    <button>회원가입</button>
</form>
</body>
</html>